*{
    margin: 0;
    text-decoration: none;
    overflow: hidden;
    font-family: sans-serif;
    overflow: hidden;
    box-sizing: border-box;
}
.container{
    height: 100vh;
}

.section{
    height: 100vh;
}
body{
    width: 100%;
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.288) , rgba(0, 0, 0, 0.249)),url(images/background\ 1.2.gif);
    background-position:center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    
    cursor: pointer;
    transition: .5s;
    text-decoration:1px underline;
    text-decoration-color:transparent;
    color: white;
    
}
.logo:hover{

    text-decoration: 0.5px underline;
    
}
#menubar{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
    color: white;
    transition: .2s;
    
}
#menubar:hover{
    font-size: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    
    
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-left: 60px;
    transition: .5s;
}
nav ul li a:hover{
    cursor: pointer;
    text-decoration: 0.5px underline;
    
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;

}
h2{
    color: white;
    
    font-size: 100px;
}
.card-ex{
    color: white;
    font-size: 11px;
    line-height:15px ;
}
.button{
    width: 180px;
    padding: 12px 0;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.684);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
button:hover{

    cursor: pointer;
    box-shadow: 4px -4px 8px  rgba(255, 255, 255, 0.496);
    transition: .3s;
}
.card{
    width:200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin:10px 15px;
    background-position: center;
    background-size: cover;
    transition:transform 0.5s;
}
.card1{
    background-image: url(images/scissorpaperrock_800x600.gif);

}
.card2{
background-image: url(images/game2.gif);
}
.card3{
background-image: url(images/game3.gif);
}
.card4{
background-image: url(images/game4.5.gif);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: white;
    text-shadow: 0 0 5px #999;
}
.card p{
    font-size: 8px;
    text-shadow: 0 0 15px #000;
}
.submenu-wrap{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 190px;
    border-radius: 20px;
    
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    
    box-shadow: 2px 2px 4px black;
}
.submenu-wrap.open-menu{
    max-height: 400px;
}
.submenu{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.981);
    padding: 20px;
    margin: 10px;
}
.devinfo{
    display: flex;
    align-items: center;
}
.devinfo h3{
    font-weight: 500;
    
}
.submenu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin:15px 0 10px;
}

.menulink{
    display: flex;
    align-items: center;
    color:black;
    margin: 12px 0;
}
.menulink p{
    width: 100%;
} 
.menulink:hover p{
text-decoration: underline;
text-decoration-color: rgb(6, 125, 123);
} 
.menulink span{
    font-size: 22px;
    transition: transform 0.5s;

}
.menulink span:hover{
    transform: translateY(5px);

}






